data/*
!data/README.md
*.rds
*.csv
*.pt
*.pdf
*.json
*.html
*.sh
*.arrow
*.txt
*.pkl
*.pth
*.log
*.safetensors
*.png
*.yml
Result/
AMiner/
MetaPath2Vec/Result

*.ipynb_checkpoints
__pycache__/
.DS_Store
.Rhistory

